body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

.wrapper {
  background-image: url(/images/header-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 720px;
  border-bottom-left-radius: 100px;
}

ul,
p {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.font_p {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  margin: 0 24px;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.main {
  height: 600px;
  background-image: url(/images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 104px;
}

h1 {
  margin: 102px 24px 0 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.front_page {
  margin: 12px 24px 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  margin: 12px 24px 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.media-icon {
  display: flex;
  margin: 24px 0 24px;
  padding-left: 24px;
}

.media-icon-item {
  margin-right: 12px;
}

.work {
  display: grid;
  grid-template-rows: (4, 1fr);
  margin: 114px 24px 114px 24px;
}
.project {
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 88px;
}

.project_image {
  width: 100%;
  min-height: 220px;
}

.project_title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
}

.dev {
  margin-top: 20px;
  display: flex;
}

.dev_item {
  margin-right: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.upper {
  text-transform: uppercase;
  color: #344563;
}

.seperator {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 4px;
  margin-top: 2px;
}

.project_details {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.api {
  margin-top: 12px;
  display: flex;
}

.api_item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin: 0 8px;
}

.btn {
  margin: 24px auto 28px 0;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #396df2;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.about {
  margin-top: 26px;
  background-image: url(/images/about_pic.png);
  background-repeat: no-repeat;
  background-size: cover;
}
